.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;
}

.title {
    font-size: 5rem;
}
.title,
.sub-title {
    margin: 0.25rem;
    color: white;
}

.sub-title {
    font-size: 1.5rem;
    font-weight: lighter;
}
